<div class="row">

  <div class="col-md-8">

    <% Type.read.order("name").each do |type| %>

      <div class="row chocolate">

        <div class="col-md-4">
          <%= link_to image_tag(type["photo_url"], "class" => "indeximage"), "/type/#{type["id"]}" %>
        </div>

        <div class="col-md-8">
          <h2>
            <%= link_to type["name"], "/type/#{type["id"]}" %>
          </h2>
        </div>

      </div>
    <% end %>
  </div>

</div>
